h1 Public#index
= link_to 'asdasd', '#', class: 'btn btn-hg btn-primary'
.col-md-6
  select.select-block name="huge" style="display: none;" value="X-Men"
    option value="0"
    option value="1"
    option value="2"
    option value="3"
    option selected="selected" value="X-Men"
    option value="Crocodile"
