<h1>Public#index</h1>
<p>Find me in app/views/public/index.html.erb</p>
<%= link_to 'asdasd', '#', class: 'btn btn-hg btn-primary' %>

<div class="col-md-6">
    <select class="select-block" value="X-Men" name="huge" style="display: none;">
      <option value="0">Choose hero</option>
      <option value="1">Spider Man</option>
      <option value="2">Wolverine</option>
      <option value="3">Captain America</option>
      <option selected="selected" value="X-Men">X-Men</option>
      <option value="Crocodile">Crocodile</option>
    </select>
</div>

